<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>FINLIVE</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<style>
    body    { padding-top:100px; }
</style>